
*  { box-sizing:border-box;
}

body {
  font-family: monospace;
  padding: 50px;
}

h1 {
  color: blue;
  font-size: 35px;
  text-align: center;
}

#board {
  margin: 0 auto;
  height: 100px;
  width: 100px;
  display: grid;
  grid-template-columns: 150px 150px 150px;
  grid-template-rows: 150px 150px 150px;
  justify-items: center;
  align-items: center;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  height: 100%;
  width: 100%;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  cursor: pointer;
}

.cell:hover {
  background-color: lightgray;
}

.cell:nth-child(3n) {
  border-right: none;
}

.cell:nth-child(n + 7) {
  border-bottom: none;
}
